* {
    margin: 0;
    padding: 0 box-sizing:border-box;
}

/*COLOURS*/

/*### Primary

- Strong Cyan: #26BAA4
- Light Blue: #6173FF

### Neutral

- Dark Grayish Blue: #4C545D
- Grayish Blue: #9FABB2

*/

html {

    font-family: 'Bai Jamjuree', 'Roboto', 'Open Sans', 'Barlow';
    font-size: 18px;
    font-weight: 400;
    overflow-x: hidden;
}

.header {
    background-image: url(images/bg-header-desktop.png);
    height: 40vh;
    box-shadow: 0 0 100px 8px white inset;
}

.header-logo {
    width: 10%;
    height: auto;
    position: relative;
    margin: 6% 45%;

}

h1 {
    width: 70%;
    margin-left: 15%;
    font-size: 220%;
    text-align: center;
    color: #4C545D;
    font-weight: 600;
}

.hero-section h1 {
    padding-top: 40px;
    padding-bottom: 20px;
}

h2 {
    width: 60%;
    margin-left: 20%;
    text-align: center;
    color: #9FABB2;
    font-weight: 400
}

.hero-section h2 {
    padding-bottom: 50px;
    font-size: 100%;
    line-height: 145%;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.snippets-section h2 {
    font-size: 100%;
    line-height: 145%;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.clipboard-section h2 {
    font-size: 100%;
    line-height: 145%;
    word-spacing: 1px;
    letter-spacing: 1px;
    padding-top: 10px;
}

.workflow-section h2 {
    font-size: 100%;
    line-height: 145%;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-top: 18px;
}

.btns-header,
.btns-end {
    width: 60%;
    margin-left: 20%;
    text-align: center;
    padding-bottom: 140px;
}

.btns-header a,
.btns-end a {
    width: 30%;
    background-color: antiquewhite;
    padding: 2% 6%;
    margin: 1%;
    border-radius: 50px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
}

.btns-header a:first-child,
.btns-end a:first-child {
    background-color: #26BAA4;
}

.btns-header a:last-child,
.btns-end a:last-child {
    background-color: #6173FF;
}

.snippets-illustration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin-top: 70px;
    list-style: none;
}

.snippets-illustration img {

    width: 600px;
    height: auto;
}

.snippets-illustration h3 {

    padding-top: 40px;
    padding-bottom: 12px;
    font-size: 95%;

}

.snippets-illustration li {

    list-style: none;
}

.snippets-illustration .small-text {
    font-size: 80%;
    color: #9FABB2;
    width: 60%
}

.clipboard-section {

    padding-top: 50px;
    margin-bottom: 50px;
}

.clipboard-workflow-section {

    display: grid;
    grid-template-columns: repeat(1fr);
    width: 70%;
    margin-left: 15%;
}

.workflow-section{
    text-align: center;
}

.clipboard-image img{

    width: 90%;
    height: auto;
}



.clipboard-section h1 {
    width: 70%;
    margin-left: 15%;
    font-size: 220%;
    text-align: center;
    color: #4C545D;
    font-weight: 600;

}


.three-icons {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 70px;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 120px;
    grid-gap: 20px;
}

.three-icons img {

    margin-bottom: 25px;

}


.three-icons h3 {
    margin-bottom: 15px;

}

.three-icons .small-text {

    color: #9FABB2;
    font-size: 80%;

}


.company-logos {
    width: 90%;
    margin-left: 10%;
    margin-bottom: 130px;
     display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 80px;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

.company-logos img {
    margin-right: 60px;
    width: 50%;
}

.btns-end {

    margin-top: 60px;
}

footer {
    background-color: #ebebeb;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.footer-logo {
    width: 50px;
    height: auto;
    margin-left: 110px;
    margin-right: 50px;
}

nav a {
    padding: 17px 17px 8px 17px;
    font-size: 85%;
    text-decoration: none;
    color: #798a94;
    border-bottom: 2px solid transparent;
    transition: border 0.3s;
}

nav {
    padding-top: 12px;
}

nav a:hover,nav a:active{
border-bottom: 2px solid #26baa4;
}


.socials {
    margin-left: 80px;
}

.social-icons {

    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.logo-facebook:hover {
    color: #3b5998;
}

.logo-twitter:hover {
    color: #1da1f2;
}

.logo-instagram:hover {
    color: #c13584;
}

ion-icon {
    color: black;
    font-size: 20px;
    padding-top: 13px;
}


.clipboard-section-two h1 {
    padding-bottom: 35px;
}

.credits{
    font-size: 60%;
    padding: 20px 10px 0 0 ;
      color: #798a94;
    text-decoration: none;
    text-align: center;
}

.credits a:link,.credits a:Hover,.credits a:visited,.credits a:active{
      color: #798a94;
    text-decoration: none;
}